{% extends "ansibleweb/base.html" %}
{% block content %}
    {% load crispy_forms_tags %}
    {% load widget_tweaks %}
    <section class="dashboard-counts section-padding">
        <div class="container fluid dashboard-content">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <div class="page-header">
                    <h2 class="pageheader-title">List Preconfiguration Switch</h2>
                    <p class="pageheader-text">Create list of configuration for new switch device</p>
                  </div>
                </div>
              </div>
          <div class="row d-flex align-items-md-stretch">
            <div class="col-lg-8">
           <div class="card">
          <form method="POST" class="text-left">
               {% csrf_token %}
               <div class="card-body">
                <div class="row spacer">

                    <div class="col-2">
                        <label>Name File</label>
                    </div>
                    <div class="col-8">
                        <div class="input-group">
                            {% render_field form_ios.name class="form-control form-fix-size" placeholder="Name Host" required='required' %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row spacer">

                    <div class="col-2">
                        <label>MAC Address</label>
                    </div>
                    <div class="col-8">
                        <div class="input-group">
                            {% render_field form_ios.mac class="form-control form-fix-size" placeholder="Mac Address" required='required' %}
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="card-body">
                <div class="row spacer">

                    <div class="col-2">
                        <label>Pre Conf</label>
                    </div>
                    <div class="col-8">
                        <div class="input-group">
                            {% render_field form_ios.form class="form-control form-fix-size" placeholder="Vlan" required='required' %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row spacer">

                    <div class="col-2">
                        <label>IP Default Gateway</label>
                    </div>
                    <div class="col-8">
                        <div class="input-group">
                            {% render_field form_ios.gateway class="form-control form-fix-size" placeholder="Interface" required='required' %}
                        </div>
                    </div>
                </div>
            </div>

            

             <div class="form-group text-center">
             <button class="btn btn-outline-info" type="submit">Create</button>
            </div>
         </form>
        
        
        
        </div>
          </div>
    </div>
    </div>
  </section>
      {% endblock content %}