{% extends "ansibleweb/base.html" %}
{% block content %}
    {% load crispy_forms_tags %}
    {% load widget_tweaks %}
    <section class="dashboard-counts section-padding">
        <div class="container fluid dashboard-content">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <div class="page-header">
                    <h2 class="pageheader-title">Restore Configuration </h2>
                    <p class="pageheader-text">Create task to restore configuration Network device</p>
                  </div>
                </div>
              </div>

    <div class="row d-flex align-items-md-stretch">
        <div class="col-lg-6">
            <div class="card">
                <form method="POST" class="text-left">
                    {% csrf_token %}
                    {{ restore.management_form }}
                        {% for form in restore %}
                        <div class="card-body">
                            <div class="row form-row spacer">
                                <div class="col-2">
                                    <label>Select Device</label>
                                </div>

                                <div class="col-8">
                                    <div class="input-group">
                                        {% render_field form.hosts class="form-control form-fix-size" required='required' %}
                                        <span class="mr-2"></span>
                                        <div class="input-group-append">
                                            <button class="btn btn-success add-form-row">+</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="form-group text-center">
                        <button class="btn btn-outline-info" type="submit">Restore now</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th>Result Task</th>
                        </tr>
                        {% for hasil in output %}
                             <tr>
                                 <td>{{ hasil }}</td>            
                             </tr> 
                         {% endfor %}
                    </table>
                </div>
            </div>
            
        </div>
    </div>
    </div>
  </section>
      {% endblock content %}