{% extends "ansibleweb/base.html" %}
{% block content %}
    {% load crispy_forms_tags %}
    <section class="dashboard-counts section-padding">
        <div class="container fluid dashboard-content">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <div class="page-header">
                    <h2 class="pageheader-title">Preconfiguration Mikrotik Router</h2>
                    <p class="pageheader-text">Form list configuration for new mikrotik router</p>
                  </div>
                </div>
              </div>
          <div class="row d-flex align-items-md-stretch">
            <div class="col-lg-8">
           <div class="card">
          <form method="POST" class="text-left">
               {% csrf_token %}
               <div class="card-body">
                <div class="row spacer">

                    <div class="col-2">
                        <label>Name Device</label>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            {{form_routeros.name}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row spacer">

                    <div class="col-2">
                        <label>MAC Address</label>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            {{form_routeros.mac}}
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="card-body">
                <div class="row spacer">

                    <div class="col-2">
                        <label>Interface IP</label>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            {{form_routeros.port_ip}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row spacer">

                    <div class="col-2">
                        <label>IP address</label>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            {{form_routeros.port_cmd}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row spacer">

                    <div class="col-2">
                        <label>OSPF area</label>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            {{form_routeros.ospf_area}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row spacer">

                    <div class="col-2">
                        <label>OSPF Network</label>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            {{form_routeros.ospf_network}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row spacer">

                    <div class="col-2">
                        <label>VLAN Name</label>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            {{form_routeros.vlan_name}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row spacer">

                    <div class="col-2">
                        <label>VLAN ID</label>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            {{form_routeros.vlan_id}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row spacer">

                    <div class="col-2">
                        <label>Interface VLAN</label>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            {{form_routeros.vlan_int}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row spacer">

                    <div class="col-2">
                        <label>Add IP VLAN</label>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            {{form_routeros.ip_add_vlan}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row spacer">

                    <div class="col-2">
                        <label>Choose VLAN</label>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            {{form_routeros.interface_vlan}}
                        </div>
                    </div>
                </div>
            </div>



             <div class="form-group text-center">
             <button class="btn btn-outline-info" type="submit">Create</button>
            </div>
         </form>
        
        
        
        </div>
          </div>
    </div>
    </div>
  </section>
      {% endblock content %}