{% extends "ansibleweb/base.html" %}
{% block content %}
    {% load crispy_forms_tags %}
    <section class="dashboard-counts section-padding">
        <div class="container fluid dashboard-content">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                  <div class="page-header">
                    <h2 class="pageheader-title">Pre Configuration Huawei Router</h2>
                    <p class="pageheader-text">Create list configuration huawei router</p>
                  </div>
                </div>
              </div>
          <div class="row d-flex align-items-md-stretch">
            <div class="col-lg-8">
           <div class="card">
          <form method="POST" class="text-left">
               {% csrf_token %}
               <div class="card-body">
                <div class="row spacer">

                    <div class="col-2">
                        <label>Name Device</label>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            {{form_ce.name}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row spacer">

                    <div class="col-2">
                        <label>MAC Address</label>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            {{form_ce.mac}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row spacer">

                    <div class="col-2">
                        <label>Interface IP</label>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            {{form_ce.port_ip}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row spacer">

                    <div class="col-2">
                        <label>IP Address</label>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            {{form_ce.ip_add}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row spacer">

                    <div class="col-2">
                        <label>InterVLAN interface</label>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            {{form_ce.i_vlan_int}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row spacer">

                    <div class="col-2">
                        <label>InterVLAN Encapsulation</label>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            {{form_ce.i_vlan_enc}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row spacer">

                    <div class="col-2">
                        <label>IP Address VLAN</label>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            {{form_ce.i_vlan_ip}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row spacer">

                    <div class="col-2">
                        <label>Area OSPF</label>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            {{form_ce.ospf_area}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row spacer">

                    <div class="col-2">
                        <label>NETWORK OSPF</label>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            {{form_ce.ospf_network}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row spacer">

                    <div class="col-2">
                        <label>Interface DHCP</label>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            {{form_ce.dhcp_int}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row spacer">

                    <div class="col-2">
                        <label>DHCP IP Address</label>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            {{form_ce.dhcp_ipadd}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row spacer">
                    <div class="col-2">
                        <label>DHCP DNS list</label>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            {{form_ce.dhcp_server_dnslist}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row spacer">

                    <div class="col-2">
                        <label>DHCP excluded </label>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            {{form_ce.dhcp_server_excluded}}
                        </div>
                    </div>
                </div>
            </div>

             <div class="form-group text-center">
             <button class="btn btn-outline-info" type="submit">Create</button>
            </div>
         </form>
        
        
        
        </div>
          </div>
    </div>
    </div>
  </section>
      {% endblock content %}