
!
! Last configuration change at 13:05:01 UTC Thu May 14 2020 by admin
!
version 15.4
service timestamps debug datetime msec
service timestamps log datetime msec
no service password-encryption
!
hostname admin
!
boot-start-marker
boot-end-marker
!
!
enable secret 5 $1$EMqb$M.dxOTm32bjAoWLTJlFia1
!
aaa new-model
!
!
aaa authentication login default local
aaa authorization exec default local 
!
!
!
!
!
aaa session-id common
!
!
!
!
!
!
!
!
!
!
!
!
ip dhcp pool dhcp
 network 10.33.107.0 255.255.255.0
 default-router 10.33.107.75 
 dns-server 10.13.10.13 
!
!
!
ip domain name cisco-lab.com
ip cef
no ipv6 cef
!
multilink bundle-name authenticated
!
!
cts logging verbose
!
!
license udi pid CISCO2911/K9 sn FGL193210AP
license boot module c2900 technology-package securityk9
!
!
username admin privilege 15 secret 5 $1$S19L$e8u.B.C3YD.r8k67f269u.
!
redundancy
!
!
!
!
!
ip scp server enable
! 
!
!
!
!
!
!
!
!
!
interface Embedded-Service-Engine0/0
 no ip address
 shutdown
!
interface GigabitEthernet0/0
 ip address 10.33.107.95 255.255.255.0
 duplex auto
 speed auto
!
interface GigabitEthernet0/1
 ip address 10.33.90.5 255.255.255.0
 shutdown
 duplex auto
 speed auto
!
interface GigabitEthernet0/2
 no ip address
 duplex auto
 speed auto
!
router ospf 10
 network 10.33.90.0 0.0.0.255 area 0
 network 10.33.107.0 0.0.0.255 area 0
!
ip forward-protocol nd
!
no ip http server
no ip http secure-server
!
ip route 0.0.0.0 0.0.0.0 10.33.107.254
!
!
!
!
!
!
control-plane
!
!
!
line con 0
line aux 0
line 2
 no activation-character
 no exec
 transport preferred none
 transport output pad telnet rlogin lapb-ta mop udptn v120 ssh
 stopbits 1
line vty 0 4
 transport input ssh
!
scheduler allocate 20000 1000
!
end