!Software Version V200R003C00SPC300
#
sysname Quidway
#
undo http server enable
undo http secure-server enable
#
dhcp enable
#
aaa
 authentication-scheme default
 authorization-scheme default
 accounting-scheme default
 domain default
 domain default_admin
 local-user admin password cipher %@%@_jr+.61c<EeXZK&o:\/6U#OU%@%@
 local-user admin privilege level 15
 local-user admin service-type ssh
#
interface Vlanif1
 ip address dhcp-alloc
#
interface MEth0/0/1
#
interface GigabitEthernet0/0/1
 port link-type trunk
#
interface GigabitEthernet0/0/2
#
interface GigabitEthernet0/0/3
 port link-type access
#
interface GigabitEthernet0/0/4
 port link-type access
#
interface GigabitEthernet0/0/5
#
interface GigabitEthernet0/0/6
#
interface GigabitEthernet0/0/7
#
interface GigabitEthernet0/0/8
#
interface GigabitEthernet0/0/9
#
interface GigabitEthernet0/0/10
#
interface GigabitEthernet0/0/11
#
interface GigabitEthernet0/0/12
#
interface GigabitEthernet0/0/13
#
interface GigabitEthernet0/0/14
#
interface GigabitEthernet0/0/15
#
interface GigabitEthernet0/0/16
#
interface GigabitEthernet0/0/17
#
interface GigabitEthernet0/0/18
#
interface GigabitEthernet0/0/19
#
interface GigabitEthernet0/0/20
#
interface GigabitEthernet0/0/21
#
interface GigabitEthernet0/0/22
#
interface GigabitEthernet0/0/23
#
interface GigabitEthernet0/0/24
#
interface NULL0
#
stelnet server enable
ssh user admin
ssh user admin authentication-type password
ssh user admin service-type stelnet
#
user-interface con 0
user-interface vty 0 4
 authentication-mode aaa
 protocol inbound ssh
user-interface vty 16 20
#
return